*{
    margin:0;
    padding:0;
}

.introContainer,
.createUserContainer,
#inputContainer,
.form,
.preview{
    display:flex;
    flex-direction: column;
    text-align: center;
    margin:0.5rem auto;

}

.btn{
    
    background-color: white;
    padding: 5px 10px;
    border-radius: 20px;
    color: dimgrey;
    border: 2px solid dimgray;
    margin:1em auto;
cursor: pointer;
}
.infoOutputContainer{
    display: flex;
flex-direction: column;
    margin:1rem auto;
    text-align: center;
    flex-wrap: wrap;
    padding:5px;
}
#ai_analysis{
max-width:500px;
height:auto;
margin:0 auto;
text-align: center;
}